html {
  font-size: 62.5%;
  font-family: sans-serif;
}

body {
  margin: 0 20vw;
  justify-content: center;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.horizontalRules {
  height: 4px;
  background-image: url('../assets/hr-img.png');
  background-size: contain;
  background-repeat: repeat-x;
  width: 100%;
}

.logo {
  display: flex;
}

h1 {
  font-family: 'Oswald', sans-serif;
  margin-top: 20px;
  font-size: 4.4rem;
  font-weight: 700;
}

h2 {
  font-family: 'Yellowtail', cursive;

  font-size: 2.7rem;
}
.social {
  display: flex;
}

.title > p {
  font-size: 1rem;
  color: grey;
}

.subtext {
  width: 100%;
  color: grey;
  display: flex;
  justify-content: space-between;
}

.posted-date {
  margin-top: 10px;
  font-size: 1.2rem;
  margin-bottom: 4%;
}

.print {
  display: flex;
}

.printicon {
  display: flex;
}

figure > img {
  width: 100%;
}

.firstgroup {
  margin-right: 1rem;
}

.paper {
  font-family: 'Handlee', cursive;
  background-image: url('../assets/list-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.leftside {
  display: flex;
  flex-direction: column;
}

.rightside {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  justify-content: flex-end;
}

article > section {
  margin: 20px 0 0 0;
  font-size: 1.3rem;
  font-family: serif;
}

.article {
  height: 20rem;
}

.listitem {
  display: flex;
}

.checked {
  text-decoration: line-through;
}

li {
  display: flex;
  align-items: center;
}

.comment {
  display: flex;
  margin-top: 20px;
  padding-bottom: 40px;
}

.commentContent {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}

h4 {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 8px;
}

.profile {
  width: 100%;
}

button {
  background-color: rgb(203, 72, 72);
  color: white;
  width: 180px;
  height: 50px;
  border: none;
}

footer {
  text-align: center;
  border-top: solid gray 1px;
  width: 100%;
}

footer > img {
  position: relative;
  bottom: 18px;
}

.bottomFooter {
  text-align: center;
  color: gray;
}

.published {
  padding-bottom: 20px;
  margin-bottom: 20px;
}
